body 
    { 
        display: grid;
        grid:   "h h h"
                "a b c"
                "f f f";
        grid-template-columns: 20% 1fr 20%;
        grid-template-rows: 100px 200px 1fr;
    
    }
    
.content
    {   
        grid-area: b;
        min-width: 12em;
        background-color: black;
        color: white;
        
    }

.nav
    {
        grid-area: a;
        background-color: midnightblue;

    }

.aside
    { 
        grid-area: c;
        min-width: 12em;
        background-color: red;
    
    }

.header
    {  
        grid-area: h;
        height: 200px;
        background-color: rgb(50, 100, 50);
        color: white;
        text-align: center;
        font-family: monospace;
        font-size: 22pt;

        }

.footer
    {
        grid-area: f;
        background-color: grey;
        color: white;

    }